* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
  padding: 20px;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  background-color: cadetblue;

}

.flex-container{
    display: flex;
}

.flex-left{
    font-size: 20px;
    font-weight: bolder;
    width: 25%;
    
}

.flex-right{
    border-left: solid;
    padding-left: 5%;
    display: block;
}

nav { 
   display: inline;
   background-color: paleturquoise;
   font-family: monospace;
   font-size: 20px;
   padding: 8px;
   text-underline-offset: 7px;
}

