* {
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
flex-direction: column;
min-height: fit-content;
justify-content: flex-end;
}

header {
  padding: 20px;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  background-color: cadetblue;

}


.flex-container{
    display: flex;
}

.flex-left{
    font-size: 20px;
    font-weight: bolder;
    width: 20%;
}

nav { 
   display: inline;
   background-color: paleturquoise;
   font-family: monospace;
   font-size: 20px;
   padding: 8px;
   text-underline-offset: 7px;
}